section#testimonials.testimonials.section-bg
  .container(data-aos='fade-up')
    .section-header
      h2 Feedback
      p Student's <span>Feedback</span>

    .slides-1.swiper(data-aos='fade-up', data-aos-delay='100')
      .swiper-wrapper

        #carouselExample.carousel.slide
          .carousel-inner
            .carousel-item.active
              .swiper-slide
                .testimonial-item
                  .row.gy-4.justify-content-center
                    .col-lg-6
                      .testimonial-content
                        p
                          i.bi.bi-quote.quote-icon-left
                          | The dining facility on campus offers a wonderful variety of food options that cater to different dietary needs. It's clear that they prioritize student satisfaction and comfort, providing a clean and inviting space to enjoy a meal between classes.
                          i.bi.bi-quote.quote-icon-right
                        h3 Samuel Navanth
                        .stars
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                    .col-lg-2.text-center
                      img.img-fluid.testimonial-img(src='./assets/img/Testimonials/1.png', alt='')

            .carousel-item
              .swiper-slide
                .testimonial-item
                  .row.gy-4.justify-content-center
                    .col-lg-6
                      .testimonial-content
                        p
                          i.bi.bi-quote.quote-icon-left
                          | I'm impressed with the offerings available at the campus dining area. The pricing is fair, and the quality of the food is consistently good. Even during busy times, the staff manages to keep things running smoothly, ensuring a pleasant experience for everyone.
                          i.bi.bi-quote.quote-icon-right
                        h3 Ayush Yadav
                        .stars
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                    .col-lg-2.text-center
                      img.img-fluid.testimonial-img(src='./assets/img/Testimonials/2.png', alt='')

            .carousel-item
              .swiper-slide
                .testimonial-item
                  .row.gy-4.justify-content-center
                    .col-lg-6
                      .testimonial-content
                        p
                          i.bi.bi-quote.quote-icon-left
                          | I appreciate the availability of vegetarian and vegan options at the dining facility. It shows they're attentive to the diverse dietary preferences of students. The cleanliness and organization of the space also contribute to a comfortable dining environment.
                          i.bi.bi-quote.quote-icon-right
                        h3 Rahul Prajapati
                        .stars
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                    .col-lg-2.text-center
                      img.img-fluid.testimonial-img(src='./assets/img/Testimonials/3.png', alt='')

            .carousel-item
              .swiper-slide
                .testimonial-item
                  .row.gy-4.justify-content-center
                    .col-lg-6
                      .testimonial-content
                        p
                          i.bi.bi-quote.quote-icon-left
                          | The dining facility consistently delivers high-quality food that exceeds expectations. The attention to detail in sourcing fresh ingredients really makes a difference. Combined with the friendly staff and welcoming atmosphere, it's definitely a standout spot on campus.
                          i.bi.bi-quote.quote-icon-right
                        h3 Rohit Patel
                        .stars
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                          i.bi.bi-star-fill
                    .col-lg-2.text-center
                      img.img-fluid.testimonial-img(src='./assets/img/Testimonials/4.png', alt='')

          button.carousel-control-prev(type='button', data-bs-target='#carouselExample', data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button', data-bs-target='#carouselExample', data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

      .swiper-pagination
