link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css', integrity='sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=', crossorigin='anonymous')

section.deneb_cta
  .container
    .cta_wrapper
      .row.align-items-center
        .col-lg-7
          .cta_content
            h3 Become Our Delivery Partner
        .col-lg-5
          .button_box
            a.btn.btn-warning.para.stafflogintrigger(href='#') Join Us

footer.deneb_footer
  .widget_wrapper(style='background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);')
    .container
      .row
        .col-lg-4.col-md-6.col-12
          .widget.widegt_about
            .widget_title
              img.img-fluid(src='assets/images/logo_1.png', alt='')
            ul.social
              li
                a(href='https://www.facebook.com/')
                  i.fab.fa-facebook-f
              li
                a(href='https://www.x.com/')
                  i.fab.fa-twitter
              li
                a(href='https://www.instagram.com/')
                  i.fab.fa-instagram
        .col-lg-4.col-md-6.col-sm-12
          .widget.widget_link
            .widget_title
              h4 Links
            ul
              li
                a(href='/') Home
              li
                a(href='/menu#menu') Menu
              li
                a(href='/#contact') Contact
              li
                a(href='/#testimonials') Feedback
        .col-lg-4.col-md-6.col-sm-12
          .widget.widget_contact
            .widget_title
              h4 Contact Us
            .contact_info
              .single_info
                .icon
                  i.fas.fa-phone-alt
                .info
                  p.para
                    a(href='#') +91-123456789
              .single_info
                .icon
                  i.fas.fa-envelope
                .info
                  p.para
                    a(href='mailto:contact@example.com', target='_blank') contact@example.com
              .single_info
                .icon
                  i.fas.fa-map-marker-alt
                .info
                  p.para
                    a(href='https://www.google.com/maps?q=MNNIT+Allahabad,+Teliarganj,+Prayagraj,+Uttar+Pradesh,+211004', target='_blank') MNNIT Allahabad, Teliarganj, Prayagraj, Uttar Pradesh, 211004
  .copyright_area
    .container
      .row
        .col-lg-12
          .copyright_text
            p.para &copy;Magical Meals, All rights reserved.
