.accordion-item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.accordion-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0;
  font-weight: bold;
}

.accordion-button:hover {
  background-color: #0056b3;
}

.accordion-body {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

.accordion-body p {
  margin-bottom: 0;
}

  .ownerheader{
    background-color: black;
    color:white;
    padding: 1.5em;
    margin: 1em;
  }

  .order-item {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-details {
    margin-bottom: 10px;
  }

  .order-details label {
    font-weight: bold;
  }
 
  .accordion-body .accept-reject button:nth-child(1){
    background-color: #28a745 !important;
    color: #fff !important;
    border: none;
  }

  .accordion-body .accept-reject button:nth-child(2){
    background-color: #dc3545 !important;
    color: #fff !important;
    border: none;
    margin-left: 10px;
  }

  .ownerheader{
    margin-top: 7em !important;
  }