extends ../layouts/user

block cssStyle 
    link(href="/css/contact.css" rel="stylesheet")
    link(href="/css/feedback.css" rel="stylesheet")
    link(href="/css/hero.css" rel="stylesheet")

block content 
 include ../partials/hero
 include ../partials/feedback
 include ../partials/contact
